<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Sheet</title>
</head>
<body>
    <form method="POST" action="/">
        <h1>Student Mark Sheet</h1>
        <br>
        <label>Name:</label>
        <input type="text" name="name" id="name"> 
        <br>
        <label>Faculty</label>
        <input type="text" name="Faculty" id ="faculty">
        <br>
        <label>GPA: </label>
        <input type ="number" name="gpa" id="gpa">
        <br>
        <br>
        <button> Submit</button>

    </form>
</body>
</html>